* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.navbar__s1__title {
  color: #a435f4;
}
.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
}

.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 15px;
  background-color: transparent;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 10px;
}
.navbar__s3 p:hover{
    cursor: pointer;
    color: #a435f4;;


}
.navbar__s3 i:hover{
     cursor: pointer;
     
}
/* My Learning Popup */

.mylearning{
  position: relative;
  cursor: pointer;
}

.mylearning:hover .mylearning__popup{
  display: block;
}

.mylearning__popup{
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width: 100px;
  top: 150%;
  padding: 20px;
  right: 0;
  display: none;

}
 
 
.categories {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: solid black 1px;
  justify-content: space-around;
  gap: 10px;
}
.categories p {
  background-color: #a435f4;
  color: white;
  padding: 10px;
  border-radius: 30px;
}
.categories p:hover {
  background-color: orangered;
  color: white;
}

.sale-image{
  position: relative;
}

.sale-image img {
  width: 100%;
  padding: 10px;
}

.sale-image__offer{
  width: 35%;
  border: solid black 2px;
  background-color: white;
  padding: 2%;
  position: absolute;
  top: 20%;
  left: 10%;

}

.recommended {
  padding: 10px;
}

.recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
 
}

.cource-card {
  width: 23%;
   
}

@media screen and (max-width:768px){

    .cource-card{
        width:48%;
    }

}

.cource-card img {
  width: 100%;
  height: 50%;
 
 
 
}
.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
}
.topics__container p {
  border: solid grey 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}

.popular {
  padding: 10px;
}

.popular-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}
.footer {
  background-color: black;
  color: white;
  padding: 30px;
}
.footer__one {
  display: flex;
  gap: 10px;
  border-bottom: solid white 1px;
}

.footer__one p {
  margin: 20px;
}

.footer__two {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 20px;
  align-items: end;
}
